.wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
 
.verticalContent {
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    max-height: calc(100vh - 210px);
}

.itemContainer {
    display: flex;
    position: absolute;  
    justify-content: flex-start;
    gap: 13px;  
    width: 100%; 
} 