
.pageContainer {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
}

.modalBtn {
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
} 