
.pageContainer {
    padding: 2rem;
    max-width: 800px;
    margin: 3rem auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
}

.modalBtn {
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
} 

.confirmationModal {
    --modal-height: 25vh;
    --modal-top: 12vh;
    --modal-width: 30vw;
}

@media (max-width: 680px) {
    .confirmationModal {
        --modal-width: 80vw;
    }
}