.navbar {
    position: relative;
    background-color: #472884;
    padding: 0.5rem;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    gap: 1rem;
} 

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 600; 
    white-space: nowrap;
}

    .title.shortTitle {
        display: none;
    }

    .title.longTitle {
        display: block;
    } 
   
@media (max-width: 700px) {  
    .title {
        font-size: 1rem;
        font-weight: 600;
    } 

    .title.shortTitle {
        display: block;
    }

    .title.longTitle {
        display: none;
    }
}