.navbar {
    background-color: #472884;
    padding: 0.5rem;
    color: white;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.2rem;
}

.container {
    display: flex;
    gap: 1rem; 
}

@media (max-width: 1200px) {
    .title {
        margin-top: 0.5rem;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 1rem;
        font-weight: 600;
        margin-top: 0.9rem;
    }
}